schema/faq/xsd/bentley_faq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--                    HEADER                                     -->
<!-- ============================================================= -->
<!--  MODULE:    DITA FAQ XSD                                      -->
<!--  VERSION:   1.0                                               -->
<!--  DATE:      September 2014                                    -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA)     -->
<!--                                                               -->
<!-- PURPOSE:    W3C XML Schema to describe DITA FAQs              -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             September 2014                                    -->
<!--                                                               -->
<!--             Copyright (c) Bentley Systems, Incorporated.      -->
<!--             All rights reserved.                              -->
<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.       -->
<!--                                                               -->
<!--  UPDATES:                                                     -->
<!--    2014.09.03 JTC: Added Bentley custom domains, removed      -->
<!--                    highlighting domain, Added Math domain     -->
<!--                    & MathML 3                                 -->
<!-- ============================================================= -->

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
  elementFormDefault="qualified" attributeFormDefault="unqualified" >
  
  <!-- ==================== Import Section ======================= -->
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="urn:oasis:names:tc:dita:xsd:ditaarch.xsd:1.2"/>
  
  <!-- Add the domains to the base topic XML Schema -->
  <!--  ================ TOPIC DOMAINS =====================  -->
  <!-- Tech content domains -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_uiDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_programmingDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:softwareDomain.xsd:1.2"/>
  
  <!-- Base domains -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:highlightDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:utilitiesDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:indexingDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:hazardstatementDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:abbreviateDomain.xsd:1.2" />
  
  <!-- Bentley custom domains -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_rhetoricDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_mathDomain.xsd:1.2"/>
  
  <!--  ================ GROUP DEFINITIONS =====================  -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclGrp.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclGrp.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:topicGrp.xsd:1.2"/>
  
  <!-- =================  MODULE INLCUDE DEFINITION  ==================  -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementMod.xsd:1.2"/>
  <!-- ======== Table elements ======== -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclMod.xsd:1.2"/>    
  <!-- ======= MetaData elements, plus keyword and indexterm ======= -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclMod.xsd:1.2"/>
  
  <!-- == Add domain constraint to limit the elements from hightlight Domain == -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_highlightDomain-c.xsd:1.2"/>
  
  <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementGrp.xsd:1.2">
    <xs:group name="keyword">
      <xs:choice>
        <xs:group ref="keyword"/>
        <xs:group ref="pr-d-keyword" />
        <xs:group ref="ui-d-keyword" />
        <xs:group ref="sw-d-keyword" />
      </xs:choice>
    </xs:group>
    
    <xs:group name="ph">
      <xs:choice>
        <xs:group ref="ph"/>
        <xs:group ref="pr-d-ph" />
        <xs:group ref="ui-d-ph" />
        <xs:group ref="hi-d-c-ph" />
        <xs:group ref="sw-d-ph" />
        <xs:group ref="rh-d-ph" />
      </xs:choice>
    </xs:group>
    
    <xs:group name="pre">
      <xs:choice>
        <xs:group ref="pre"/>
        <xs:group ref="pr-d-pre" />
        <xs:group ref="ui-d-pre" />
        <xs:group ref="sw-d-pre" />
      </xs:choice>
    </xs:group>
    
    <xs:group name="dl">
      <xs:choice>
        <xs:group ref="dl"/>
        <xs:group ref="pr-d-dl"/>
        <xs:group ref="mt-d-dl"/>
      </xs:choice >
    </xs:group >
    
    <xs:group name="fig">
      <xs:choice>
        <xs:group ref="fig"/>
        <xs:group ref="pr-d-fig"/>
        <xs:group ref="ut-d-fig"/>
        <xs:group ref="mt-d-fig"/>
      </xs:choice>
    </xs:group >
    
    <xs:group name="foreign">
      <xs:choice>
        <xs:group ref="foreign"/>
        <xs:group ref="mt-d-foreign"/>
      </xs:choice>
    </xs:group>
    
    <xs:group name="figgroup">
      <xs:choice>
        <xs:group ref="figgroup"/>
        <xs:group ref="pr-d-figgroup"/>
      </xs:choice>
    </xs:group>
    
    <xs:group name="index-base">
      <xs:choice>
        <xs:group ref="index-base"/>
        <xs:group ref="indexing-d-index-base"/>
      </xs:choice>
    </xs:group >
    
    <xs:group name="note">
      <xs:choice>
        <xs:group ref="note"/>
        <xs:group ref="hazard-d-note"/>
      </xs:choice>
    </xs:group >
    
    <xs:group name="term">
      <xs:choice>
        <xs:group ref="term"/>
        <xs:group ref="abbrev-d-term"/>
      </xs:choice>
    </xs:group >
    
  </xs:redefine>
  
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:topicMod.xsd:1.2" />  
  
  <!--  ================ INFO-TYPES DEFINITION =====================  -->
  <xs:group name="info-types">
    <xs:sequence/>
  </xs:group>
  
  <!--  ================ DOMAINS ATTRIBUTE DEFINITION =====================  -->
  
  <xs:attributeGroup name="domains-att">
    <xs:attribute name="domains" type="xs:string" 
      default="(topic abbrev-d)
      (topic hazard-d)
      (topic indexing-d)                                           
      (topic pr-d)
      (topic sw-d)                                             
      (topic ui-d)
      (topic ut-d) 
      (topic mathHighlight-c)
      (topic rh-d)
      (topic mt-d)
      "/>
  </xs:attributeGroup>  
  
  <!--  ============= GROUP DEFINITIONS ==========================  -->
  <xs:group name="faq-info-types">
    <xs:choice>
      <xs:element ref="faq"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="faq">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faq"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqbody">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqbody"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqgroup">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqgroup"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqlist">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqlist"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqitem">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqitem"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqquest">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqquest"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqans">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqans"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="faqprop">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="faqprop"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="name">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="name"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="ownerEmail">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="ownerEmail"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <!-- Element declarations for faq.mod -->
  <!--<xs:element name="faq" type="faq.class" substitutionGroup="topic"/>-->
  <!--<xs:element name="faqbody" abstract="true" substitutionGroup="body"/>-->
  <!--<xs:element name="faqgroup" abstract="true" substitutionGroup="section"/>-->
  <!--<xs:element name="faqlist" abstract="true" substitutionGroup="simpletable"/>-->
  <!--<xs:element name="faqitem" abstract="true" substitutionGroup="strow"/>-->
  <!--<xs:element name="faqquest" abstract="true" substitutionGroup="stentry"/>-->
  <!--<xs:element name="faqans" abstract="true" substitutionGroup="stentry"/>-->
  <!--<xs:element name="faqprop" abstract="true" substitutionGroup="stentry"/>-->
  <!--<xs:element name="name" abstract="true" substitutionGroup="ph"/>-->
  <!--<xs:element name="ownerEmail" abstract="true" substitutionGroup="xref"/>-->
  
  <!--        LONG NAME: Frequently Asked Questions Type		       -->
  <xs:element name="faq">
    <xs:annotation>
      <xs:documentation>
        The &lt;<keyword>faq</keyword>&gt; element is the top level DITA element for the Frequenly Asked Questions info type. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="faq.class">
          <xs:attribute ref="class" default="- topic/topic faq/faq "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="faq.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faq.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faq.attributes"/>
  </xs:complexType>
  
  <xs:group name="faq.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group ref="title"/>
        <xs:group ref="titlealts" minOccurs="0"/>
        <xs:choice minOccurs="0" >
          <xs:group ref="shortdesc" />
          <xs:group ref="abstract" />
        </xs:choice>      
        <xs:group ref="prolog" minOccurs="0"/>
        <xs:group ref="faqbody" minOccurs="0"/>
        <xs:group ref="related-links" minOccurs="0"/>
        <xs:group ref="faq-info-types" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faq.attributes">
    <xs:attributeGroup ref="topic.attributes"/>
  </xs:attributeGroup>
  
 <!-- <xs:complexType name="faq.class">
    <xs:complexContent>
      <xs:restriction base="topic.class">
        <xs:sequence>
          <xs:element ref="title"/>
          <xs:element ref="titlealts" minOccurs="0"/>
          <xs:element ref="shortdesc" minOccurs="0"/>
          <xs:element ref="prolog" minOccurs="0"/>
          <xs:element name="faqbody" type="faqbody.class"/>
          <xs:element ref="related-links" minOccurs="0"/>
          <xs:group ref="faq-info-types" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="conref" type="xs:string"/>
        <xs:attribute name="DTDVersion" type="xs:string" use="optional" default="V1.1.2"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute ref="class" default="- topic/topic faq/faq "/>
        <xs:attribute name="domains" type="xs:string" default="(topic ui-d) (topic hi-d) (topic sw-d) (topic pr-d)"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FAQ Body			               -->
  <xs:element name="faqbody">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>faqbody</keyword>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="faqbody.class">
          <xs:attribute ref="class" default="- topic/body faq/faqbody "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqbody.class">
    <xs:sequence>
      <xs:group ref="faqbody.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqbody.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqbody.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="faqgroup" minOccurs="0"/><!--  type="faqgroup.class"  -->
        <xs:element name="faqlist" /><!-- type="faqlist.class" -->
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqbody.attributes">
    <xs:attributeGroup ref="id-atts"/>
   <!-- <xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
    <xs:attributeGroup ref="localization-atts"/>
    <xs:attribute name="base" type="xs:string"/>
    <xs:attributeGroup ref="base-attribute-extensions"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attribute name="inc-list" type="yesno-att.class" default="no"/>
  </xs:attributeGroup>
  
  <!-- Base type: body.class -->
  <!--<xs:complexType name="faqbody.class">
    <xs:complexContent>
      <xs:restriction base="body.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="faqgroup" type="faqgroup.class" minOccurs="0"/>
          <xs:element name="faqlist" type="faqlist.class"/>
        </xs:choice>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/body faq/faqbody "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FAQ Grouping                      -->
  <xs:element name="faqgroup">
    <xs:annotation>
      <xs:documentation> The &lt;<keyword>faqgroup</keyword>&gt; element represents 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqgroup.class">
          <xs:attribute ref="class" default="- topic/section faq/faqgroup "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqgroup.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqgroup.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqgroup.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqgroup.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="title" minOccurs="0"/>
        <xs:element name="faqlist"/><!-- type="faqlist.class" -->
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqgroup.attributes">
    <xs:attributeGroup ref="section.attributes"/>
  </xs:attributeGroup>
  
  <!-- Base type: section.class -->
  <!--<xs:complexType name="faqgroup.class" mixed="true">
    <xs:complexContent>
      <xs:restriction base="section.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="title"/>
          <xs:element name="faqlist" type="faqlist.class"/>
        </xs:choice>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/section faq/faqgroup "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FAQ list                          -->
  <xs:element name="faqlist">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>faqlist</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqlist.class">
          <xs:attribute ref="class" default="- topic/simpletable faq/faqlist "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqlist.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqlist.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqlist.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqlist.content">
    <xs:sequence>
      <xs:element name="faqitem" maxOccurs="unbounded"/><!-- type="faqitem.class"  -->
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqlist.attributes">
    <xs:attributeGroup ref="simpletable.attributes"/>
  </xs:attributeGroup>
  
  <!-- Base type: simpletable.class (%faqquest;), (%faqans;), (%faqprop;)?-->
  <!--<xs:complexType name="faqlist.class">
    <xs:complexContent>
      <xs:restriction base="simpletable.class">
        <xs:sequence>
          <xs:element name="faqitem" type="faqitem.class" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="relcolwidth" type="xs:string"/>
        <xs:attribute name="keycol" type="xs:NMTOKEN"/>
        <xs:attribute name="refcols" type="xs:NMTOKENS"/>
        <xs:attributeGroup ref="display-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="spectitle" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/simpletable faq/faqlist "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FAQ Item                          -->
  <xs:element name="faqitem">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>faqitem</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqitem.class">
          <xs:attribute ref="class" default="- topic/strrow faq/faqitem "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqitem.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqitem.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqitem.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqitem.content">
    <xs:sequence>
      <xs:element name="faqquest"/><!--  type="faqquest.class" -->
      <xs:element name="faqans"/><!--  type="faqans.class" -->
      <xs:element name="faqprop" minOccurs="0"/><!--  type="faqprop.class" -->
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqitem.attributes">
    <xs:attributeGroup ref="strow.attributes"/>
  </xs:attributeGroup>
  
  <!--<xs:complexType name="faqitem.class">
    <xs:complexContent>
      <xs:restriction base="strow.class">
        <xs:sequence>
          <xs:element name="faqquest" type="faqquest.class"/>
          <xs:element name="faqans" type="faqans.class"/>
          <xs:element name="faqprop" type="faqprop.class" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/strrow faq/faqitem "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FA Question                       -->
  <xs:element name="faqquest">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>faqquest</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqquest.class">
          <xs:attribute ref="class" default="- topic/stentry faq/faqquest "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqquest.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqquest.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqquest.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqquest.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tblcell.cnt"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqquest.attributes">
    <xs:attributeGroup ref="stentry.attributes"/>
  </xs:attributeGroup>
  
  <!--<xs:complexType name="faqquest.class" mixed="true">
    <xs:complexContent>
      <xs:restriction base="stentry.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="tblcell.cnt"/>
        </xs:choice>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="specentry" type="xs:string" default="Question"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/stentry faq/faqquest "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                  LONG NAME: FAQ Answer                        -->
  <xs:element name="faqans">
    <xs:annotation>
      <xs:documentation> The &lt;<keyword>faqans</keyword>&gt; element represents 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqans.class">
          <xs:attribute ref="class" default="- topic/stentry faq/faqans "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqans.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqans.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqans.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqans.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tblcell.cnt"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqans.attributes">
    <xs:attributeGroup ref="stentry.attributes"/>
  </xs:attributeGroup>
  
  <!--<xs:complexType name="faqans.class" mixed="true">
    <xs:complexContent>
      <xs:restriction base="stentry.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="tblcell.cnt"/>
        </xs:choice>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="specentry" type="xs:string" default="Answer"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/stentry faq/faqans "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                   LONG NAME: FAQ Properties                   -->
  <xs:element name="faqprop">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>faqprop</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="faqprop.class">
          <xs:attribute ref="class" default="- topic/stentry faq/faqprop "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="faqprop.class" mixed="true">
    <xs:sequence>
      <xs:group ref="faqprop.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="faqprop.attributes"/>
  </xs:complexType>
  
  <xs:group name="faqprop.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ownerEmail" minOccurs="0"/><!-- type="ownerEmail.class"  -->
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="faqprop.attributes">
    <xs:attributeGroup ref="stentry.attributes"/>
  </xs:attributeGroup>
  
  <!--<xs:complexType name="faqprop.class">
    <xs:complexContent>
      <xs:restriction base="stentry.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="ownerEmail" type="ownerEmail.class" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="specentry" type="xs:string" default="Properties"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/stentry faq/faqprop "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                    LONG NAME: Name                            -->
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>
        The name (&lt;name&gt;) element is used 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="name.class">
          <xs:attribute ref="class" default="- topic/ph faq/name "/>          
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="name.class" mixed="true">
    <xs:sequence>
      <xs:group ref="name.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="name.attributes"/>
  </xs:complexType>
  
  <xs:attributeGroup name="name.attributes">
    <xs:attributeGroup ref="univ-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
    <xs:attribute name="outputclass" type="xs:string"/>
  </xs:attributeGroup>
  
  <xs:group name="name.content">
    <xs:sequence>      
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="text.content" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <!-- Base type: ph.class -->
  <!--<xs:complexType name="name.class" mixed="true">
    <xs:complexContent>
      <xs:restriction base="ph.class">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/ph faq/name "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!--                    LONG NAME: Owner E-mail                    -->
  <xs:element name="ownerEmail">
    <xs:annotation>
      <xs:documentation>
        The &lt;ownerEmail&gt; element is used to
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ownerEmail.class">
          <xs:attribute ref="class" default="- topic/xref faq/ownerEmail "/>          
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ownerEmail.class" mixed="true">
    <xs:sequence>
      <xs:group ref="ownerEmail.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="ownerEmail.attributes"/>
  </xs:complexType>
  
  <xs:attributeGroup name="ownerEmail.attributes">
    <xs:attribute name="href" type="xs:string"/>
    <xs:attribute name="keyref" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="format" type="xs:string" default="mailto"/>
    <xs:attribute name="scope" type="scope-att.class"/>    
    <xs:attributeGroup ref="univ-atts"/>    
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>
    <xs:attributeGroup ref="ishhyperlinkxpath-general-default"/>-->
    <xs:attribute name="outputclass" type="xs:string"/>
  </xs:attributeGroup>
  
  <xs:group name="ownerEmail.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="name" minOccurs="0"/><!-- type="name.class"  -->
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <!--<xs:complexType name="ownerEmail.class">
    <xs:complexContent>
      <xs:restriction base="xref.class">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="name" type="name.class" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="keyref" type="xs:NMTOKEN"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="format" type="xs:string" default="mailto"/>
        <xs:attribute name="scope" type="scope-att.class" default="external"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
        <xs:attribute ref="class" default="- topic/xref faq/ownerEmail "/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType> -->
  
</xs:schema>