schema/troubleshooting/xsd/bentley_troubleshooting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--                    HEADER                                     -->
<!-- ============================================================= -->
<!--  MODULE:    DITA Troubleshooting XSD                          -->
<!--  VERSION:   1.3                                               -->
<!--  DATE:      August 2014                                       -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA)     -->
<!--                                                               -->
<!-- PURPOSE:    W3C XML Schema to describe DITA Tasks             -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             August 2014                                       -->
<!--             Copyright (c) Bentley Systems, Incorporated.      -->
<!--             All rights reserved.                              -->
<!--             (C) Copyright OASIS Open 2005, 2009.              -->
<!--                                                               -->
<!--  UPDATES:                                                     -->
<!--    2014-08-29 JTC: Added Bentley custom domains, removed      -->
<!--                    highlighting domain                        -->
<!-- ============================================================= -->

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
  elementFormDefault="qualified" attributeFormDefault="unqualified" >
  
  <!-- ==================== Import Section ======================= -->
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="urn:oasis:names:tc:dita:xsd:ditaarch.xsd:1.2"/>

  <!-- Add the domains to the base topic XML Schema -->
  <!--  ================ TOPIC DOMAINS =====================  -->
  <!-- Tech content domains -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_uiDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_programmingDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:softwareDomain.xsd:1.2"/>
  
  <!-- Base domains -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:highlightDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:utilitiesDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:indexingDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:hazardstatementDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:abbreviateDomain.xsd:1.2" />
  
  <!-- 2013-01-04 JTC: Add rhetoric and math domains -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_rhetoricDomain.xsd:1.2"/>
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_mathDomain.xsd:1.2"/>
  
  <!--  ================ GROUP DEFINITIONS =====================  -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:taskGrp.xsd:1.2" />
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclGrp.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclGrp.xsd:1.2"/>
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:topicGrp.xsd:1.2"/>
  
  <!-- =================  MODULE INLCUDE DEFINITION  ==================  -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementMod.xsd:1.2"/>
  <!--<xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_taskMod.xsd:1.2"/>-->
  <!-- ======== Table elements ======== -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclMod.xsd:1.2"/>    
  <!-- ======= MetaData elements, plus keyword and indexterm ======= -->
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclMod.xsd:1.2"/>
  
  <!-- == Add domain constraint to limit the elements from hightlight Domain == -->
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_highlightDomain-c.xsd:1.2"/>
  
  <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementGrp.xsd:1.2">
    <xs:group name="keyword">
      <xs:choice>
        <xs:group ref="keyword"/>
        <xs:group ref="pr-d-keyword" />
        <xs:group ref="ui-d-keyword" />
        <xs:group ref="sw-d-keyword" />
      </xs:choice>
    </xs:group>

    <xs:group name="ph">
      <xs:choice>
        <xs:group ref="ph"/>
        <xs:group ref="pr-d-ph" />
        <xs:group ref="ui-d-ph" />
        <xs:group ref="hi-d-c-ph" />
        <xs:group ref="sw-d-ph" />
        <xs:group ref="rh-d-ph" />
      </xs:choice>
    </xs:group>

    <xs:group name="pre">
      <xs:choice>
        <xs:group ref="pre"/>
        <xs:group ref="pr-d-pre" />
        <xs:group ref="ui-d-pre" />
        <xs:group ref="sw-d-pre" />
      </xs:choice>
    </xs:group>


    <xs:group name="dl">
      <xs:choice>
        <xs:group ref="dl"/>
        <xs:group ref="pr-d-dl"/>
        <xs:group ref="mt-d-dl"/>
      </xs:choice >
    </xs:group >


    <xs:group name="fig">
      <xs:choice>
        <xs:group ref="fig"/>
        <xs:group ref="pr-d-fig"/>
        <xs:group ref="ut-d-fig"/>
        <xs:group ref="mt-d-fig"/>
      </xs:choice>
    </xs:group >
    
    
    <xs:group name="foreign">
      <xs:choice>
        <xs:group ref="foreign"/>
        <xs:group ref="mt-d-foreign"/>
      </xs:choice>
    </xs:group>
    
    
    <xs:group name="figgroup">
      <xs:choice>
        <xs:group ref="figgroup"/>
        <xs:group ref="pr-d-figgroup"/>
      </xs:choice>
    </xs:group>
    
    
    <xs:group name="index-base">
      <xs:choice>
        <xs:group ref="index-base"/>
        <xs:group ref="indexing-d-index-base"/>
      </xs:choice>
    </xs:group >
    
    <xs:group name="note">
      <xs:choice>
        <xs:group ref="note"/>
        <xs:group ref="hazard-d-note"/>
      </xs:choice>
    </xs:group >
    
    <xs:group name="term">
      <xs:choice>
        <xs:group ref="term"/>
        <xs:group ref="abbrev-d-term"/>
      </xs:choice>
    </xs:group >

  </xs:redefine>
  
  <xs:include schemaLocation="urn:bentley:names:tc:dita:xsd:bentley_strictTaskbodyConstraintMod.xsd:1.2" />
  
  <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:topicMod.xsd:1.2" />  
  
  <!--  ================ INFO-TYPES DEFINITION =====================  -->
  <xs:group name="info-types">
    <xs:sequence/>
  </xs:group>
  
  <!--  ================ DOMAINS ATTRIBUTE DEFINITION =====================  -->

  <xs:attributeGroup name="domains-att">
     <xs:attribute name="domains" type="xs:string" 
                          default="(topic abbrev-d)
                                            (topic hazard-d)
                                            (topic indexing-d)                                           
                                            (topic pr-d)
                                            (topic sw-d)                                             
                                            (topic ui-d)
                                            (topic ut-d) 
                                            (topic mathHighlight-c)
                                            (topic rh-d)
                                            (topic mt-d)
                                            "/>
  </xs:attributeGroup>  
  
  <!--  ============= GROUP DEFINITIONS (Cont.) ==================  -->  
  <xs:group name="troubleshooting-info-types">
    <xs:choice>
      <xs:group ref="task"/>
      <xs:group ref="info-types"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="troubleshooting">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="troubleshooting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="troublebody">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="troublebody"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="cause">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="cause"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="condition">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="condition"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="remedy">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="remedy"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="responsibleParty">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="responsibleParty"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="troubleSolution">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="troubleSolution"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  
  <!--                    LONG NAME: Troubleshooting                 -->
  <xs:element name="troubleshooting">
    <xs:annotation>
      <xs:documentation>
        The &lt;<keyword>troubleshooting</keyword>&gt; is the top level DITA element for the Troublehsooting info type. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="troubleshooting.class">
          <xs:attribute ref="class" default="- topic/topic troubleshooting/troubleshooting "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="troubleshooting.class" mixed="true">
    <xs:sequence>
      <xs:group ref="troubleshooting.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="troubleshooting.attributes"/>
  </xs:complexType>
  
  <xs:group name="troubleshooting.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group ref="title"/>
        <xs:group ref="titlealts" minOccurs="0"/>
        <xs:choice minOccurs="0" >
          <xs:group ref="shortdesc" />
          <xs:group ref="abstract" />
        </xs:choice>      
        <xs:group ref="prolog" minOccurs="0"/>
        <xs:group ref="troublebody" minOccurs="0"/>
        <xs:group ref="related-links" minOccurs="0"/>
        <xs:group ref="troubleshooting-info-types" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="troubleshooting.attributes">
    <xs:attribute name="id" type="xs:ID" use="required"/>    
    <!--<xs:attributeGroup ref="ish-root-element-atts"/>-->
    <xs:attributeGroup ref="conref-atts"/>
    <xs:attribute ref="ditaarch:DITAArchVersion"/>
    <xs:attributeGroup ref="domains-att"/>
    <xs:attributeGroup ref="select-atts"/>
    <xs:attributeGroup ref="localization-atts"/>
    <xs:attributeGroup ref="global-atts"/>
    <xs:attribute name="outputclass" type="xs:string"/>
  </xs:attributeGroup>
  
  <!--                    LONG NAME: Troubleshooting Body            -->
  <xs:element name="troublebody">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>troublebody</keyword>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="troublebody.class">
          <xs:attribute ref="class" default="- topic/body troubleshooting/troublebody "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="troublebody.class">
    <xs:sequence>
      <xs:group ref="troublebody.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="troublebody.attributes"/>
  </xs:complexType>
  
  <xs:group name="troublebody.content">
    <xs:sequence>
      <xs:sequence>
        <xs:group ref="condition" minOccurs="0" maxOccurs="unbounded"/>
        <xs:group ref="troubleSolution" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="troublebody.attributes">
    <xs:attributeGroup ref="id-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
    <xs:attributeGroup ref="localization-atts"/>
    <xs:attributeGroup ref="base-attribute-extensions"/>
    <!--<xs:attribute name="base" type="xs:string"/>-->
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <xs:attributeGroup ref="global-atts"/>
  </xs:attributeGroup>
  
  <!--                    LONG NAME: Cause                           -->
  <xs:element name="cause">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>cause</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="cause.class">
          <xs:attribute ref="class" default="- topic/section troubleshooting/cause "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="cause.class" mixed="true">
    <xs:sequence>
      <xs:group ref="cause.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="cause.attributes"/>
  </xs:complexType>
  
  <xs:group name="cause.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="section.cnt" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="cause.attributes">
    <xs:attribute name="spectitle" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
  </xs:attributeGroup>
  
  <!--              LONG NAME: Condition     -->
  <xs:element name="condition">
    <xs:annotation>
      <xs:documentation> The &lt;<keyword>condition</keyword>&gt; element represents 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="condition.class">
          <xs:attribute ref="class" default="- topic/section troubleshooting/condition "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="condition.class" mixed="true">
    <xs:sequence>
      <xs:group ref="condition.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="condition.attributes"/>
  </xs:complexType>
  
  <xs:group name="condition.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="section.cnt" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="condition.attributes">
    <xs:attribute name="spectitle" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
    <xs:attributeGroup ref="univ-atts"/>
  </xs:attributeGroup>
  
  <!--                    LONG NAME: Remedy                          -->
  <xs:element name="remedy">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>remedy</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="remedy.class">
          <xs:attribute ref="class" default="- topic/section troubleshooting/remedy "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="remedy.class" mixed="true">
    <xs:sequence>
      <xs:group ref="remedy.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="remedy.attributes"/>
  </xs:complexType>
  
  <xs:group name="remedy.content">
    <xs:sequence>
      <xs:group ref="title" minOccurs="0" maxOccurs="1"/>
      <xs:group ref="responsibleParty" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:group ref="steps" minOccurs="0"/>
        <xs:group ref="steps-unordered" minOccurs="0"/>
        <xs:group ref="steps-informal" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="remedy.attributes">
    <xs:attribute name="spectitle" type="xs:string"/>
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
  </xs:attributeGroup>
  
  <!--                    LONG NAME: Troubleshooting Body division   -->
  <xs:element name="troubleSolution">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>troubleSolution</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="troubleSolution.class">
          <xs:attribute ref="class" default="- topic/bodydiv troubleshooting/troubleSolution "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="troubleSolution.class" mixed="true">
    <xs:sequence>
      <xs:group ref="troubleSolution.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="troubleSolution.attributes"/>
  </xs:complexType>
  
  <xs:group name="troubleSolution.content">
    <xs:sequence>
      <xs:group ref="cause" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="remedy" minOccurs="0" maxOccurs="unbounded"/>      
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="troubleSolution.attributes">
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
  </xs:attributeGroup>
  
  <!--                   LONG NAME: Responsible Party                -->
  <xs:element name="responsibleParty">
    <xs:annotation>
      <xs:documentation>The &lt;<keyword>responsibleParty</keyword>&gt; element
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="responsibleParty.class">
          <xs:attribute ref="class" default="- topic/p troubleshooting/responsibleParty "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="responsibleParty.class" mixed="true">
    <xs:sequence>
      <xs:group ref="responsibleParty.content"/>
    </xs:sequence>
    <xs:attributeGroup ref="responsibleParty.attributes"/>
  </xs:complexType>
  
  <xs:group name="responsibleParty.content">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="para.cnt" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:attributeGroup name="responsibleParty.attributes">
    <xs:attribute name="outputclass" type="xs:string"/>
    <xs:attributeGroup ref="univ-atts"/>
    <!--<xs:attributeGroup ref="ishlabelxpath-general-default"/>
    <xs:attributeGroup ref="ishlinkxpath-general-default"/>-->
  </xs:attributeGroup>
 
</xs:schema>
